.HomePage {
  text-align: center;
  width: 100%;

    &__HomeHeader {
      position: fixed;
      width: 100%;
      background-color: #f3f3f3;
      display: flex;
      justify-content: space-between;
      color: rgb(0, 0, 0);
        &__logoHeader {
          max-width: 30%;
          cursor: pointer;
          img {
            margin: 20px;
          }
    
        }
        &__info-header {
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;
        }

        &__search-header {
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: space-around;
            &__search-input {
              background: #c6ffcd;
              border: 1px solid #F2F2F2;
              box-sizing: border-box;
              border-radius: 24px;
              width: 240px;
              height: 40px;

            }
        }

        &__login-cart {
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: space-evenly;
          cursor: pointer;
            img {
                width: 22px;
                height: 15px;
            }
            &__login {
              padding: 35px;
            }
        }
    }

    &__banner {
      background: #03FFA5;
      color: rgb(10, 10, 10);
      height: 560px;
      width: 100%;
      margin-bottom: 35px;
      display: flex;
        &__conteudo {
          width: 50%;
          text-align: unset;
          margin-top: 150px;
        }
        &__details {
          font-family: Barlow;
          font-style: normal;
          font-weight: 500;
          color: #FFFFFF;
          font-size: 64px;
          line-height: 77px;
          text-transform: uppercase;
          margin-right: 40px;

        }

        &__text{
          font-family: Barlow;
          font-style: normal;
          font-weight: 500;
          font-size: 64px;
          line-height: 77px;
          text-transform: uppercase;
          color: #000000;
          width: 451px;
          height: 231px;
        }

        &__text-dois {
          width: 329px;
          height: 72px;
          font-family: Barlow;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #000000;

        }

        &__button {
          border-radius: 20px;
          border-color: black;
          width: 148px;
          border-style: solid;
        }

        &__products{
          width: 50%;
          text-align: initial;

        }

        .product-left {
          background-color: white;
          width: 209px;
          height: 271px;
          text-align: center;
          margin-top: 150px;
          img {
            padding: 30px 5px 39px 0px;
          }
        }
    }

    .tipbar {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 35px;
    }

    .soluctions {

      h1 {
        margin-bottom: 40px;
        text-align: left;

      }

      &__products {
        display: flex;
        justify-content: space-evenly;
      }

      &__product-one {
        height: 381px;
        width: 241px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
      }

      &__product-two {
        height: 381px;
        width: 241px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
      }

      &__product-three {
        height: 381px;
        width: 241px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
      }

      &__product-four {
        height: 381px;
        width: 241px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
      }
    }

    .quemSomos {
      width: 100%;
      display: flex;

      &__textContent{
        width: 50%;
      }

      &__title {
        width: 241px;
        height: 80px;
        font-family: Barlow;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #000000;
      }

      &__text {
        position: static;
        width: 241px;
        height: 292px;
        top: 104px;
        font-family: Barlow;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

      }
      &__imagem {
        width: 50%;
      }

    }

    .informationsContent {
      width: 100%;
      height: 480px;
      background: #EE0E7D;

        &__text {
          text-align: center;
        }

    }

    .newsletterContent {
      width: 100%;
      height: 436px;
      background: #000000;
        &__text {
          font-family: Barlow;
          font-weight: bold;
          font-size: 32px;
          line-height: 40px;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
        }
    }

    .footerContent {
      width: 100%;
      height: 80px;
      background: #000000;
    }












}
  
  
  

  